$color_1: #ff6060;
$font-family_1: 'Montserrat';

.errorComponent {
	display: flex;
	flex-flow: wrap;
	text-align: center;
	justify-content: center;
	color: $color_1;
	padding: 5%;
	font-family: $font-family_1;
	p {
		font-weight: 500;
		font-size: 18px;
		&:first-child {
			flex-basis: 100%;
			font-size: 96px;
			margin: 0;
			font-weight: 700;
		}
	}
	a {
		flex-basis: 100%;
		margin-top: 10vh;
		color: $color_1;
		font-size: 16px;
		text-decoration: underline;
		margin-top: 10vh;
		margin-bottom: 10vh;
	}
}
@media screen and (min-width: 720px) {
	.errorComponent {
		p {
			font-size: 36px;
			margin-top: 10vh;
			&:first-child {
				font-size: 288px;
			}
		}
		a {
			font-size: 18px;
		}
	}
}
